body{
    padding: 100px;
}
.submit-area{
    padding: 40px;
    margin-top: 50px;
    border-radius:10px ;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-family:sans-serif;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}